{% extends "_base.html" %}

{% block title %}gallery{% endblock title %}
{% block url %}/gallery{% endblock url %}

{% block head %}
<link rel="stylesheet" href="/assets/css/gallery.css" />
<link rel="preload" href="/assets/img/external16.png" as="image" />
<script defer src="/assets/js/modal.js"></script>
{% endblock head %}

{% block main %}
<h1>gallery</h1>

<p>
    Look, ma! I can draw! (artistic quality may vary)<br>
    Click on a thumbnail to view the full image.<br>
    <br>
    <b>You may not use these works for any purposes.</b>
</p>
<br>

<div class="hr"></div>

<div class="gallery">
    {% for image in images %}<!--
    --><img src="/assets/img/{{ image.id }}128.png" alt="{{ image.name }}" title="{{ image.name }}" class="modal"
        data-full="/assets/img/{{ image.id }}.png"
        data-text="<b>{{ image.name }}</b> ({{ image.year }})<br />{{ image.description }}" /><!--
    -->{% endfor %}
</div>
{% endblock main %}