<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Can't Sleep {% if self.title() != "home" %}| {% block title %}{% endblock title %}{% endif %}</title>

    <link rel="canonical"
        href="https://cantsleep.cc{% if self.url() != '/404' %}{% block url %}{% endblock url %}{% endif %}" />
    <link rel="icon" type="image/x-icon" href="/assets/ico/main.ico" />
    <link rel="stylesheet" href="/assets/css/main.css" />

    <meta http-equiv="Content-Language" content="en" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:url" content="https://cantsleep.cc{{ self.url() }}" />
    <meta property="og:site_name" content="Can't Sleep" />
    <meta property="og:type" content="{% block og_type %}profile{% endblock og_type %}" />

    <link rel="preload" href="/assets/img/background.png" as="image" />
    <link rel="preload" href="/assets/img/desktop16.png" as="image" />
    <link rel="preload" href="/assets/img/briefcase16.png" as="image" />
    <link rel="preload" href="/assets/img/files16.png" as="image" />
    <link rel="preload" href="/assets/img/external8.png" as="image" />

    {% block head %}{% endblock head %}

    <script defer src="https://umami.schwung.us/script.js"
        data-website-id="40a0ba16-61a8-407b-a876-1b42949e761c"></script>
    <script defer src="/assets/js/footer.js"></script>
</head>

<body>
    <div class="body">
        <header>
            <div class="banner"><a href="/"><img src="/assets/img/banner.png" alt="Banner" /></a></div>

            <div class="navbar">
                <div class="navbar-section">
                    {% if self.title() == "home" %}
                    <div class="navbar-button-active">
                        <img src="/assets/img/desktop16.png" /><span>home</span>
                    </div>
                    {% else %}
                    <a href="/">
                        <div class="navbar-button">
                            <img src="/assets/img/desktop16.png" /><span>home</span>
                        </div>
                    </a>
                    {% endif %}

                    {% if self.title() == "projects" %}
                    <div class="navbar-button-active">
                        <img src="/assets/img/briefcase16.png" /><span>projects</span>
                    </div>
                    {% else %}
                    <a href="/projects">
                        <div class="navbar-button">
                            <img src="/assets/img/briefcase16.png" /><span>projects</span>
                        </div>
                    </a>
                    {% endif %}

                    <a href="https://files.cantsleep.cc">
                        <div class="navbar-button">
                            <img src="/assets/img/files16.png" /><span>files</span>
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <main>{% block main %}{% endblock main %}</main>

        <footer>
            <div class="footer-left">All content &copy; respective owners.</div>
            <div class="footer-center">Powered by <a href="https://github.com/nonk123/sanity">sanity
                    <img src="/assets/img/external8.png" alt="(external)" /></a></div>
            <div class="footer-right" id="last-updated"></div>
        </footer>
    </div>
</body>

</html>
