{% extends "_base.html" %}

{% block title %}home{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/assets/css/index.css" />
<link rel="preload" href="/assets/img/me.png" as="image" />
<link rel="preload" href="/assets/img/external16.png" as="image" />
<script defer src="/assets/js/contact.js"></script>
{% endblock head %}

{% block main %}
<h1>welcome</h1>

<div class="profile">
    <div class="profile-left">
        <p>
            Thanks for stopping by.<br>
            <b>Can't Sleep</b> is my nickname. I do odd jobs on my cool computer.<br>
            This website works as a portal for my profiles and projects.<br><br>
        </p>

        <p>These are my attributes:</p>
        <ul>
            <li><b>Programming:</b> C, C#, GameMaker Language</li>
            <li><b>Graphics:</b> Aseprite, Blender, Drawpile, Paint.NET</li>
            <li><b>Audio:</b> Audacity, FFmpeg</li>
        </ul>
        <br>

        <p>Use the navigation bar to explore!</p>
        <br>
    </div>

    <div class="profile-right">
        <img src="/assets/img/me.png" alt="Scientific interpretation of myself" />
    </div>
</div>

<h1>contact <img src="/assets/img/external16.png" alt="(external)" /></h1>

<div class="links">
    <p id="links-description">Hover over an icon</p>
    <a id="links-email" href="mailto:me@cantsleep.cc"><img src="/assets/img/email48.png" alt="Email" /></a><!--
    --><a id="links-github" href="https://github.com/localins"><img src="/assets/img/github48.png" alt="GitHub" /></a><!--
    --><a id="links-discord" href="https://discord.com/users/871682109050322984"><img src="/assets/img/discord48.png"
            alt="Discord" /></a><!--
    --><a id="links-twitter" href="https://twitter.com/localins"><img src="/assets/img/twitter48.png"
            alt="Twitter" /></a><!--
    --><a id="links-newgrounds" href="https://localinsomniac.newgrounds.com/"><img src="/assets/img/newgrounds48.png"
            alt="Newgrounds" /></a>
</div>

<p>
    I'm also part of the <a href="https://schwung.us">Schwungus</a> collective.
</p>
{% endblock main %}