@font-face {
    font-family: Consolas;
    src: url("/assets/consola.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Consolas;
    src: url("/assets/consolab.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Consolas;
    src: url("/assets/consolai.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Consolas;
    src: url("/assets/consolaz.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #598eb2;
}

img {
    max-width: 100%;
}

body {
    width: 800px;
    height: max-content;
    padding: 2em;
    margin: 0 auto;

    font-family: Consolas, monospace;
    font-size: 15px;
    line-height: 1.25;
    color: white;

    background: url("/assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #232629;
}

.cols {
    display: flex;
    justify-content: center;
}

#menu {
    width: max-content;
    flex-shrink: 0;

    line-height: 1;

    background: rgba(35, 38, 41, 0.3);

    section {
        margin-bottom: 16px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.menu {
    &-category {
        padding-left: 0.5em;
        margin-bottom: 1px;

        font-size: 64%;
        background: linear-gradient(to right, transparent, #232629);

        user-select: none;

        span {
            opacity: 0.5;
        }

        img {
            vertical-align: middle;
            margin-left: 0.25em;
        }
    }

    &-button {
        padding: 0.5em;
        margin-bottom: 1px;

        white-space: nowrap;
        user-select: none;

        background-color: #232629;

        img {
            padding-right: 0.5em;
            vertical-align: middle;
        }

        &:hover {
            background: linear-gradient(to right, gray, #232629);
        }

        &-current {
            font-weight: bold;
            background: linear-gradient(to right, gray, #232629);
        }
    }
}

#contents {
    width: 100%;
    padding: 2em;

    background-color: #232629;
    overflow: auto;
}

h1 {
    font-size: 150%;
    margin: 1em 0;

    span {
        display: inline-block;
        color: #232629;
        background-color: white;

        padding: 0 0.5em;
        border-radius: 16px 16px 0 0;
    }

    img {
        vertical-align: middle;
        margin-left: 0.25em;
        margin-right: -0.2em;
    }

    &:after {
        height: 1px;

        display: block;
        content: "";
        background: linear-gradient(to right, white, gray);
    }
}

h2 {
    font-size: 200%;
    margin: 0;
}

.hr {
    width: 100%;
    height: 1px;
    margin: 2em 0;

    background-color: gray;
}

.links {
    text-align: center;
    vertical-align: middle;

    user-select: none;

    a {
        margin: 0.5em;
    }
}

#links-description {
    opacity: 0.5;
    user-select: text;
}

.footer {
    font-size: 80%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &-left {
        text-align: right;
    }

    &-right {
        text-align: left;

        opacity: 0.75;
    }
}

#hunk {
    width: 48px;

    cursor: help;

    &:hover {
        animation: shake 0.25s;
        animation-iteration-count: infinite;
    }
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

#modal-popup {
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    visibility: hidden;
    background: transparent;
    transition: 0.2s;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.up {
        visibility: visible;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    & > img,
    & > video {
        max-width: 80%;
        max-height: 80%;
    }

    & > p {
        text-align: center;
        word-wrap: break-word;

        img {
            margin-left: 0.25em;
            vertical-align: middle;

            opacity: 0.6;
        }
    }
}
