{% extends "_base.html" %}

{% block title %}projects{% endblock title %}
{% block url %}/projects{% endblock url %}

{% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
<link rel="preload" href="/assets/img/external16.png" as="image" />
{% endblock head %}

{% block main %}
<h1>projects</h1>

<p>
    These are most of the public projects I have meaningfully contributed to.<br>
    I work on these in my own time, which is often sparse these days.
</p>

{% for category in categories %}
<br>
<h1>{{ category.category }}</h1>

{% for project in category.projects %}
<div class="project">
    {% if project.url %}
    <a href="{{ project.url }}">
        {% endif %}
        <div class="project-left">
            <img src="/assets/img/{{ project.image }}.png" alt="{{ project.name }}" />
        </div>
        {% if project.url %}
    </a>
    {% endif %}

    <div class="project-right">
        <p>
            {% if project.tags is iterable and project.tags is not string and project.tags is not mapping %}<!--
                -->{% for tag in project.tags %}<!--
                    -->{% set tag = tags[tag] %}<!--
                        --><img class="project-icon" src="{{ tag.icon }}" alt="{{ tag.name }}"
                title="{{ tag.name }}" /><!--
                -->{% endfor %}<!--
            -->{% endif %}<!--

            -->{% if project.url %} <a href="{{ project.url }}"><b>{{ project.name }}</b><!--
                -->{% if project.url[0] != '/'%} <img class="project-external" src="/assets/img/external16.png"
                    alt="(external)" />{% endif %}</a><!--
            -->{% else %}<!--
            --> <b>{{project.name }}</b><!--
            -->{% endif %}<!--

            -->{% if project.alt %} <span>{{ project.alt }}</span>{% endif %}
        </p>

        <div class="hr"></div>

        <p>
            {{ project.description|safe }}<!--
            -->{% if project.footer %}
        <ul>
            <li>{{ project.footer|safe }}</li>
        </ul>
        {% endif %}
        </p>
    </div>
</div>
{% endfor %}

{% if category.misc %}
<br>
<p><b>See also:</b>
<ul>
    {% for project in category.misc %}
    <li>
        {% if project.tags is iterable and project.tags is not string and project.tags is not mapping %}<!--
        -->{% for tag in project.tags %}<!--
        -->{% set tag = tags[tag] %}<!--
        --><img class="project-icon" src="{{ tag.icon }}" alt="{{ tag.name }}" title="{{ tag.name }}" /><!--
        -->{% endfor %}<!--
        -->{% endif %}

        {% if project.url %} <a href="{{ project.url }}"><b>{{ project.name }}</b>
            {% if project.url[0] != '/'%} <img class="project-external" src="/assets/img/external16.png"
                alt="(external)" />{% endif %}</a>
        {% else %}
        <b>{{ project.name }}</b>
        {% endif %}

        {% if project.alt %}
        <span>{{ project.alt }}</span>
        {% endif %}

        {% if project.description %}
        {{ project.description|safe }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% endfor %}

{% endblock main %}